/*					<!-- ================================================== -->
						<!-- ================================================== -->
						<!-- == AUTOR....: Bruno Oliveira										 == -->
						<!-- == DATA.....: 01 de Janeiro de 2014             == -->
						<!-- == ============================================ == -->
						<!-- == PROJETO..: Sistema OnGR               			 == -->
						<!-- == VERSÃO...: 0.1 Beta													 == -->
						<!-- == ============================================ == -->
						<!-- == ARQUIVO..: consPratoStyle.css   						 == -->
						<!-- == ALTERAÇÃO: 16/01/14													 == -->
						<!-- == DESCRIÇÃO: Folha de estilo com formatação da == -->
						<!-- == da página de cadastro de cardápio.           == -->
						<!-- ================================================== -->
						<!-- ================================================== -->
*/

/* Div central de visualização da tabela */
.orgVis{
	/* Tamanho */
	height: 450px;
	width: 880px;

	/* Efeitos */
	background-color: black;
	border-radius: 20px;
	opacity: 0.8;

	/* Posicionamento */
	position: absolute;
	top: 100px;
	left: calc(50% - 390px);
}

.divTbl{
	width: 820px;
	height: 250px;

	/* Posicionamento */
	position: absolute;
	top: 125px;
	left: 40px;
	overflow: auto;
}

/* Tabela para visualização da lista de pratos */
#listDishes{
	/* Tamanho */
	width: 800px;

	font: 18px Arial;
	letter-spacing: 1px;
	color: white;
	border-collapse: collapse;

	/* Posicionamento */
	position: absolute;
	top: 0px;
	left: 0px;
}

tr.dishLine{
	border: solid 1px;	
}

tr.dishLine:hover{
	background-color: gray;	
}

th{
	background-color: orange;
	color: white;
	height: 30px;
	text-align: center;
	
}

.cbxCol{
	width: 20px;
	padding: 5px;
	text-align: center;
}

.dishCol{
	width: 300px;
	padding: 5px;
	text-align: left;
}

.dColPos{
	text-align: center;
}

.categCol{
	width: 180px;
	padding: 5px;
	text-align: center;
}

.groupCol{
	width: 150px;
	padding: 5px;
	text-align: center;
}

.optCol{
	width: 150px;
	padding: 5px;
	text-align: center;
}

/* Botões de opções na lista de pratos */
#btnEdit{
	height: 40px;
	width: 40px;
	float: left;

	background-color: lightblue;
	border-radius: 5px;
	margin-left: 26px;
}

#btnDelete{
	height: 40px;
	width: 40px;
	float: left;

	background-color: lightblue;
	border-radius: 5px;
	margin-left: 4px;
}

#btnEdit:hover, #btnDelete:hover{
	background-color: orange;
}

.iconBtn{
	height: 100%;
	width: 100%;
}

/* Área de Pesquisa de pratos e filtro */
.divSearch{
	height: 100px;
	width: 800px;

	position: absolute;
	top: 20px;
	left: 40px;
}

#tblSearch{
	width: 100%;
	height: 75%;

	text-align: left;
	vertical-align: bottom;
	color: white;
	font: 18px Arial;
	letter-spacing: 1px;
}

.col1{
	width: 200px;
}

.cbxSearch{
	width: 180px;
	height: 35px;

	border-radius: 10px;

	font: 18px Arial;
}

.txbSearch{
	width: 180px;
	height: 25px;

	border-radius: 10px;

	font: 18px Arial;
}

.btnSearch{
	height: 35px;
	width: 150px;

	background-color: orange;
	border-radius: 10px;

	margin-left: 25px;
}

.btnAccept{
	height: 35px;
	width: 200px;

	background-color: orange;
	border-radius: 10px;

	margin-left: 25px;
}

.btnSearch:hover, .btnAccept:hover{
	background-color: gray;
}

.iconSearch{
	height: 28px;
	width: 25px;

	position: absolute;
	margin-left: 62.5px;
	margin-top: 3.5px;
}

.posBtn{
	position: absolute;
	margin-left: 616px;
	margin-top: 392px;
}

.lblAccept{
	color: white;
	font: 18px Arial;
	letter-spacing: 1px;
	position: absolute;
	margin-top: 5px;
	margin-left: 12px;
}

#Days{
	visibility: hidden;
}

#Dishes{
	visibility: hidden;
}

.msgDays{
	height: 150px;
	width: 100%;
}

.lblMsgDay{
	font: 20px Arial;
	letter-spacing: 2px;
	color: white;
	position: absolute;
	margin-top: 60px;
	margin-left: 150px;
}

.btnDays{
	height: 302px;
	width: 100.2%;
	position: absolute;
	margin-left: -1px;
	padding: 0px;
}

.orgAccess{
	height: 50%;
	width: 25%;
	padding: 0px;
	border-style: none;
}

.btnAccess{
	height: 100%;
	width: 100%;
	border-style: solid;
	border-width: 1px;
	border-color: lightblue;
}

.btnAccess:hover{
	background-color: gray;
}

.lblBtnAcc{
	color: white;
	font: 18px Arial;
	letter-spacing: 1px;

	position: relative;
	top: 60px;
	left: 70px;
}

.poslbl{
	left: 40px;
}

.poslbl2{
	left: 60px;
}

.poslbl3{
	left: 50px;
}

.poslbl4{
	left: 40px;
}