/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 19 de Dezembro de 2013
				Arquivo..: mainStyle.css

				Descrição: Folha de estilo para página de consulta
				de pratos
 */

/* Posicionamento da div central */
.divCentral{
	width: 800px;
	height: 300px;
	margin-left: 50px;
	margin-top: 40px;
	overflow: auto;
}

/* Configuração da tabela geral */

#visGeral{
	height: 80%;
	width: 910px;
	margin-left: 45px;
	border-top-left-radius: 20px;
}

.titlePage{
	width: 100%;
	height: 50px;
	background-color: green;
	color: white;
}

.title{
	position: absolute;
	margin-left: 50px;
	margin-top: 5px;
}

.button{
	float: right;
	margin-right: 50px;
	height: 35px;
	width: 150px;
}

.btnOpcs{
	height: 60px;
	width: 60px;
	text-align: center;
}

.btnNewCad{
	height: 100%;
	width: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	text-align: center;
}

/* Configuração da tabela de visualização dos pratos */
#mgTable{
	margin-left: 38px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	border: dotted 1px;
}

.bordlinhas{
	border-top: dotted 1px;
}

.colTitle{
	background-color: black;
	color: white;
	font-size: 18px;
	height: 40px;
	text-align: center;
}

.colCheck{
	width: 40px;
	height: 100px;
	text-align: center;
}

.colName{
	width: 300px;
}

.colWeight{
	width: 80px;
	text-align: center;
}

.colImg{
	width: 100px;
	text-align: center;
}

.colOpc{
	width: 160px;
	text-align: center;
}

tr:first-of-type th:first-child {
  border-top-left-radius: 20px;    
}

tr:first-of-type th:last-child {
  border-top-right-radius: 20px;    
}