/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 08 de janeiro de 2013
				Arquivo..: alMainPage.css

				Descrição: Folha de estilo com formatação da página
				inicial do almoxarife
 */

/*  =========== Classes =========== */

.identFunc{
	font-size: 50px;
	color: white;
	font-family: arial;
	margin-left: 35px;
	opacity: 1.8;
}

/*  ===========   ID's  =========== */
#posBtns{
	height: 360px;
	width: 750px;
	margin-left: 125px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
	vertical-align: center;
}

#btnFuncs{
	height: 225px;
	width: 362px;
	border-bottom-right-radius: 50px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	border-top-right-radius: 50px;
	font-size: 28px;
	font-family: arial;
}

.mgLinhac{
	margin-left: 20px;
}