/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 10 de janeiro de 2013
				Arquivo..: geMainPage.css

				Descrição: Folha de estilo com formatação da página
				inicial do Gerente
 */

/*  =========== Classes =========== */

.identFunc{
	font-size: 50px;
	color: white;
	font-family: arial;
	margin-left: 35px;
	opacity: 1.8;
}

/*  ===========   ID's  =========== */
#posBtns{
	height: 360px;
	width: 750px;
	margin-left: 125px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
	vertical-align: center;
}

#btnFuncs{
	height: 80px;
	width: 362px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 18px;
	font-family: arial;
}

#centralGE{
	width: 1000px;
	height: 1260px;
	margin-top: 5px;
}