/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 18 de Dezembro de 2013
				Arquivo..: mainStyle.css

				Descrição: Folha de estilo base da estrutura do
				sistema
 */

/* === Formatação Geral por Tag === */
body{
	background-color: black;
}

/*  =========== Classes =========== */

/* Geral */
.bg_mg{ /* Cores e Margem das Divs Principais */
	background-color: white;
	margin-left: 2.5%;
}

.bgop{ /* Opacidade das divs Header e Central */
	opacity: 0.7;
}

.mg_btns1{ /* Margem entre div de função e botões do cabeçalho */
	margin-left: 450px;
}

.mg_btns2{ /* Margem entre botões do cabeçalho */
	margin-left: 20px;
}

/* Botões de acesso do cabeçalho */
.divButtom{
	border-radius: 100%;
	background-color: white;
	width: 6%;
	height: 50%;
	margin-top: 2.5%;
}

.divButtom:hover{
	background-color: green;
}

/* Área de indicação da função do funcionário */
.divFunc{
	background-color: black;
	width: 15%;
	height: 100%;
	border-bottom-right-radius: 100px;
	border-top-left-radius: 25px;
	opacity: 0.8;
}

/* Área de identificação do usuário logado */
.divIdent{
	background-color: black;
	width: 25%;
	height: 60%;
	margin-top: 2%;
	margin-right: 10px;
	opacity: 0.8;
	border-bottom-left-radius: 50px;
	border-top-left-radius: 50px;
}

.lblUser{
	margin-top:15px;
	margin-right: 40px;
	float: right;
	color: white;
	font-size: 18px;
}

.btnLogout{
	margin-top: 6px;
	font-size: 16px;
	width: 80px;
	margin-left: 200px;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

/* Posicionamento dos divs do cabeçalho */
.pos1{
	float: left;
}

.pos2{
	float: right;
}

/* ========== ID das Tags ========== */

/* Cabeçalho */
#header{
	width: 95%;
	height: 22%;
	border-top-left-radius: 25px;
}

/* Área central */
#central{
	width: 95%;
	height: 72.5%;
	margin-top: 5px;
}

/* Rodapé */
#footer{
	width: 95%;
	height: 3.5%;
	opacity: 0.8;
	border-bottom-right-radius: 25px;
}

/* ===== Formatação das imagens ===== */

/* Ícones dos botões do cabeçalho */
.btnMain{
	height: 100%;
	width: 100%;
}