/*					<!-- ================================================== -->
						<!-- ================================================== -->
						<!-- == AUTOR....: Bruno Oliveira										 == -->
						<!-- == DATA.....: 01 de Janeiro de 2014             == -->
						<!-- == ============================================ == -->
						<!-- == PROJETO..: Sistema OnGR               			 == -->
						<!-- == VERSÃO...: 0.1 Beta													 == -->
						<!-- == ============================================ == -->
						<!-- == ARQUIVO..: mainStyle.css										 == -->
						<!-- == ALTERAÇÃO: 03/01/14													 == -->
						<!-- == DESCRIÇÃO: Folha de estilo com a formatação  == -->
						<!-- == geral do sistema.                            == -->
						<!-- ================================================== -->
						<!-- ================================================== -->
*/

/* ==================== Formatação Geral ========================== */

/* ============ ID's de Formatação ============ */
html, body{
	height: 99%;
	min-height: 99%;
	background-color: lightblue;
}

/* Cabeçalho */
#header{
	/* Tamanho */
	height: 60px;
	width:  100%;

	min-width: 1000px;
	min-height: 60px;

	/* Efeitos */
	background-color: black;
	border-radius: 10px 10px 10px 0px;
	opacity: 0.8;
}

/* Área Central */
#central{
	/* Tamanho */
	height: 84%;
	width: 100%;

	min-height: 400px;
	min-width: 1000px;
}

/* Rodapé do sistema */
#footer{
	/* Tamanho */
	height: 30px;
	width:  100%;

	min-width: 1000px;
	min-height: 30px;

	/* Efeitos */
	background-color: black;
	border-radius: 10px;
	opacity: 0.8;

	position: relative;
}

/* ============ Class de Formatação =========== */

.developers{
	/* Formatação */
	font-family: Arial;
	font-size: 12px;
	color: white;
	letter-spacing: 2px;

	/* Posicionamento */
	position: relative;
	float: left;
	margin-top: 6px;
	left: 40%;
}


/* ============= Páginas Iniciais dos Cargos - HEADER ============== */

/* Posicionamento geral das div
do cabeçalho                    */
.posRig{
	/* Posicionamento */
	float: right;
}

/* Botão sair */
.btnExit{
	/* Tamanho */
	height: 60px;
	width: 100px;

	/* Formatação */
	color: white;
	font: 18px Arial;
	letter-spacing: 2px;

	/* Efeitos */
	background-color: black;
	border-right: thin solid lightblue;
	border-left: thin solid lightblue;

	/* Posicionamento */
	margin-right: 20px;
}

.btnExit:hover{
	background-color: gray;
	color: black;
}

.lblExit{
	/* Posicionamento */
	position: absolute;
	margin-top: 18px;
	margin-left: 32px;
}

/* Área de Identificação do usuário */
.identify{
	/* Tamanho */
	height: 60px;
	width: 400px;

	/* Formatação */
	color: white;
	font: 18px Arial;
	letter-spacing: 2px;

	/* Efeitos */
	background-color: black;
	border-left: thin solid lightblue;
}

.lblIdentify{
	/* Posicionamento */
	position: absolute;
	margin-top: 18px;
	margin-left: 20px;
}

/* Botões Home e Config */
.btnHeader{
	/* Tamanho */
	height: 60px;
	width: 100px;

	/* Efeitos */
	background-color: lightblue;
	border-left: thin solid black;
}

.btnHeader:hover{
	background-color: gray;
}

/* Ícones dos botões - HEADER */
.iconHeader{
	/* Tamanho */
	height: 50px;
	width: 50px;

	/* Posicionamento */
	position: absolute;
	margin-top: 5px;
	margin-left: 25px;
}

/* Div com título da página */
#titlePage{
	/* Tamanho */
	width: 100px;
	height: 300px;

	/* Efeitos */
	background-color: black;
	opacity: 0.8;
	border-radius: 0px 0px 10px 10px;

	/* Posicionamento */
	position: absolute;
	float: left;
}

/* Label de Título - Cadastro de Pratos */
.lblTitle{
	/* Formatação */
	font-size: 30px;
	font-family: Arial;
	color: white;
	letter-spacing: 1px;

	/* Posicionamento do texto */
	writing-mode:tb-rl;
	-webkit-transform:	rotate(270deg);
	-moz-transform:			rotate(270deg);
	-o-transform:				rotate(90deg);
	white-space:nowrap;
	display:block;

	/* Posição na div */
	margin-top: 212px;
}