/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 18 de Dezembro de 2013
				Arquivo..: ntMainPage.css

				Descrição: Folha de estilo com formatação da página
				inicial dos nutricionistas.
 */

/*  =========== Classes =========== */

#posBtns{
	height: 540px;
	width: 750px;
	left: 608px;
	top: 320px;
	position: absolute;
	text-align: center;
	vertical-align: center;
	margin-left: -335px;
	margin-top: -140px;
}

#btnFuncs{
	height: 90%;
	width: 90%;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}