/* 
				Autor(es): Bruno Oliveira e Giovani Aparecido

				Projeto..: Sistema para controle de Restuarante
				Data.....: 18 de Dezembro de 2013
				Arquivo..: ntMainPage.css

				Descrição: Folha de estilo com formatação da página
				inicial dos nutricionistas.
 */

/*  =========== Classes =========== */

#posBtns{
	height: 360px;
	width: 750px;
	margin-left: 125px;
	margin-top: 40px;
	position: absolute;
	text-align: center;
	vertical-align: center;
}

#btnFuncs{
	height: 80px;
	width: 362px;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
	font-size: 18px;
	font-family: arial;
}